<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="stgAcesso" connectionString="Server=localhost;Port=3307;Database=Acesso;uid=root;Pwd=senacJBQ;"/>	
	</connectionStrings>
	<appSettings>
		<add key="emailAdmin" value="senac@senac.com.br"/>
		<add key="passwordAdmin" value="minhasenha@123"/>		
	</appSettings>
</configuration>
