<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name ="stgAcesso" connectionString="Server=localhost;Port=3307;Database=Acesso;uid=root;Pwd=senacJBQ;"/>-->	
		<add name ="stgAcesso" connectionString="Server=(localdb)\MSSqlLocalDb;Database=Acesso;User Id=VMWIN\jason;Integrated Security=True;MultipleActiveResultSets=True;"/>	
	</connectionStrings>
	<appSettings>
		<add key="emailAdmin" value="adminsenac@admin.com.br"/>
		<add key="passwordAdmin" value="minhasenha@123"/>		
	</appSettings>
</configuration>
